<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.product_id %>
  </div>  
  <div class="field">
    <%= f.label :ebay_category %><br>
    <%= f.ebay_category %>
  </div>
  <div class="field">
    <%= f.label :upc %><br>
    <%= f.text_field :upc %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.text_field :condition %>
  </div>  
  <div class="field">
    <%= f.label :listing_format %><br>
    <%= f.text_field :listing_format %>
  </div>
  <div class="field">
    <%= f.label :asking_price %><br>
    <%= f.text_field :asking_price %>
  </div>
  <div class="field">
    <%= f.label :listing_duration %><br>
    <%= f.text_field :listing_duration %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, in: 1..100, step: 1 %>
  </div>
  <div class="field">
    <%= f.label :item_location %><br>
    <%= f.text_field :item_location %>
  </div>
  <div class="field">
    <%= f.label :payment_policy %><br>
    <%= f.text_field :payment_policy %>
  </div>  
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
