<div class="field">
    <%= f.label :item_specifics %><br>
    <%= f.text_field :item_specifics %>
  </div>
<div class="field">
    <%= f.label :shipping_details %><br>
    <%= f.text_field :shipping_details %>
  </div>
  <div class="field">
    <%= f.label :package_details %><br>
    <%= f.text_field :package_details %>
  </div>
  <div class="field">
    <%= f.label :return_policy %><br>
    <%= f.text_field :return_policy %>
  </div>