<p id="notice"><%= notice %></p>

<h1>Listing Listings</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Ebay category</th>
      <th>Upc</th>
      <th>Condition</th>      
      <th>Listing format</th>
      <th>Asking price</th>
      <th>Listing duration</th>
      <th>String</th>
      <th>Item location</th>
      <th>Payment policy</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.product_id %></td>
        <td><%= listing.ebay_category %></td>
        <td><%= listing.upc if upc? %></td>
        <td><%= listing.condition if condition? %></td>        
        <td><%= listing.listing_format %></td>
        <td><%= listing.asking_price %></td>
        <td><%= listing.listing_duration %></td>
        <td><%= listing.quantity %></td>
        <td><%= listing.item_location %></td>
        <td><%= listing.payment_policy %></td>        
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

