
<%= form_for @photo, :html => {:multipart => true} do |f| %>
 <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :product_id %>

  <div class="contailer">
	  <div class="row">
		  <div class="col-md-4">
      
		  <div class="form-field fatbottom">
           <i class='small material-icons prefix'>camera_alt</i><%= f.label :image, "Upload Photo From File" %><br>
           <%= f.file_field :image, class: 'form-control' %>
      </div>	
        
		  <div class="actions">
            <%= f.submit "Submit", class: "btn btn-success"  %>
        </div>	
		  </div>
	  </div>
  </div>
 <% end %> 