<div class="container">

	<div>
		<h4 style="color: gray">Item: <span class="item-title"><%= @product.title %></span> -- Select Listing Category</h4>
	</div>

	<div class="row">
		<div class="col-md-8">	
			<h3><%= @parent_category.main_category + " > " + @parent_category.f1 +  @parent_category.f2 +  
			@parent_category.f3 + @parent_category.f4 + @parent_category.f5 %></h3>
		</div>
	</div>

	<div class="button-breathe">
		<%= form_tag assign_ebay_category_path, method: :put do %>		
   		
   		<%= submit_tag "Finalize Category Selection", class: "btn btn-success" %>
   <% end %>
	</div>

	<div class="button-breathe">
		<%= link_to "Back to Top of Categories", main_path(@product), class: "btn btn-info" %>
	</div>
   
	

</div>	




